doctype 5
html(lang="en")
    head 
    body
        h2 #{file1_orig_name} (#{file1_local_name})
        br
        p= file1_contents
        h2 #{file2_orig_name} (#{file2_local_name})
        br
        p= file2_contents
